<div class="d-flex justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border border-dark p-3 rounded-3">
        <!-- <div class="col text-left p-2 mb-3 bg-light">
            <span class="fs-3s"><h1>Form Validation
            </h1></span>
        </div> -->
        <div class="row">
            <div class="form-group col mb-3">
                <label for="firstname" class="form-label">Firstname :</label>
                <input type="text" id="firstname" formControlName="firstname">
                <div class="form-text text-danger"
                    *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">First Name is
                    Required</div>
                <div class="form-text text-danger" *ngIf="FirstName.errors?.['minlength']">First Name is
                    too short</div>
                <div class="form-text text-danger"
                    *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">First Name should start
                    with Alphabet</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col mb-3">
                <label for="middlename" class="form-label">Middlename :</label>
                <input type="text" id="middleName">
            </div>
        </div>
        <!-- <div class="form-text text-danger"
                        *ngIf="MiddleName.errors?.['required'] && (MiddleName.touched || MiddleName.dirty)">Middle Name is
                        Required</div>
                    <div class="form-text text-danger" *ngIf="MiddleName.errors?.['minlength']">Middle Name is
                        too short</div>
                    <div class="form-text text-danger"
                        *ngIf="MiddleName.errors?.['pattern'] && (MiddleName.touched || MiddleName.dirty)">Middle Name should start
                        with Alphabet</div>
                </div>
                  -->
        <div class="row">
            <div class="col mb-3">
                <label for="lastname" class="form-label">Lastname :</label>
                <input type="text" id="lastname" formControlName="lastname">
                <div class="form-text text-danger"
                    *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">Last Name is
                    Required</div>
                <div class="form-text text-danger" *ngIf="LastName.errors?.['minlength']">Last Name is
                    too short</div>
                <div class="form-text text-danger"
                    *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)">Last Name should start
                    with Alphabet</div>
            </div>
        </div>
    
        <div class="row">
            <div class="col md-3">
                <label for="course" class="form-lable">Course :</label>
                <select name="course" id="course">
                    <option value="HTML">Course</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Angular">Angular</option>
                </select>
            </div>
        </div><br>
    
    
        <!-- <div class="row"> -->
        <div class="col ps-3 mb-3">
            <div class="m-1 text-left">Gender :</div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="m" id="male" formControlName="gender">
                <label class="form-check-label" for="male">Male</label><br>
                <!-- </div> -->
                <!-- <div class="form-check form-check-inline"> -->
                <input type="radio" class="form-check-input" value="f" id="female" formControlName="gender">
                <label class="form-check-label" for="female">Female</label><br>
                <!-- </div> -->
                <!-- <div class="form-check form-check-inline"> -->
                <input type="radio" class="form-check-input" value="o" id="Others" formControlName="gender">
                <label class="form-check-label" for="Others">Others</label>
                <!-- || (Gender.dirty || Gender.touched) -->
                <div class="form-text text-danger" *ngIf="Gender.errors?.['required']">
                    Gender is Required
                </div>
                <br>
            </div>
    
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="mobile" class="form-label">Phone :</label>
                <input type="text" size="1cm" id="code-no" placeholder="+91">
             
                <input type="text" id="mobile" formControlName="mobile">
                <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
                    Number is Required.
                </div>
                <div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched || Mobile.dirty)">
                    Number is Invalid.
                </div>
                <!-- <div class="form-text text-danger"
                *ngIf="Mobile.errors?.['minlength'] || Mobile.errors?.['maxlength'] && (Mobile.dirty || Mobile.touched)">Password should
                be atleast 6 and max 15</div> -->
        </div>
            
        </div>
        <div>
            <label for="address">Address:</label><br>
            <textarea name="message" class="form-control" cols="50" rows="3"></textarea>
            <!-- <div class="form-text text-danger" *ngIf="address.errors?.['required'] && (address.touched || address.dirty)">
                Address is Required</div> -->
            <!-- <div class="form-text text-danger" *ngIf="address.errors?.['pattern'] && (address.touched || address.dirty)">
                Address is Invalid </div>
           -->
        </div><br>
    
        <!-- </div> -->
    
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="form-label">Email :</label>
                <input type="email" id="email" formControlName="email">
    
                <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                    Email is Required</div>
                <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                    Email is Invalid </div>
                <div class="form-text"></div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col mb-3">
                <label for="pwd" class="form-label">Password :</label>
                <input type="password" id="pwd" formControlName="pwd">
                <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.touched || PWD.dirty)">
                    Password is Required.</div>
                <div class="form-text text-danger"
                    *ngIf="PWD.errors?.['minlength'] && PWD.errors?.['maxLength'] && (PWD.touched || PWD.dirty)">
                    Password Should be atleast 6 to 15 character</div>
            </div>
        </div>
    
            
            <div class="m-1">Date of birth?</div>
        <div class="row-col-3">
            <select name="Days">
                <option value="days">Days</option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option value="7"></option>
                <option value="8"></option>
                
            </select>
        <select name="Month">
            <option value="month">Month</option>
            <option value="Jan"></option>
            <option value="Feb"></option>
            <option value="Mar"></option>
            <option value="Apr"></option>
            <option value="May"></option>
        </select>
        <select name="Year">
            <option value="month">Year</option>
            <option value="2009"></option>
            <option value="2010"></option>
            <option value="2011"></option>
            <option value="2012"></option>
            <option value="2013"></option>
        </select>
    
    
            </div> -->
    
    
    
    
    
        <div class="row">
            <div class="col mb-3">
                <label for="pwd" class="form-label">Password :</label>
                <input type="password" id="pwd" formControlName="pwd">
                <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">Password
                    is Required
                </div>
            </div>
            <div class="form-text text-danger"
                *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">Password should
                be atleast 6 and max 15</div>
        </div>
        <div class="col mb-3">
            <label for="rpwd" class="form-label">Repeat Password :</label>
            <input type="password" id="rpwd" formControlName="rpwd"><br>
            <div class="form-text text-danger" [ngStyle]="{'display': repeatPass}">
                Repeat Password should be same with Password</div>
        </div>
        <br>
    
        <div class="row">
            <div class="col-6 ">
                <div class="">
                    <button [disabled]="registerForm.valid" type="submit"  class="btn btn-primary">Submit</button>
            
                </div>
            </div>
        </div>
    </form>
</div>

    